.Playlists {
    width: 100%;
    margin-top: 3em;
}

.Playlists-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.Playlists-item {
    list-style: none;
    margin: 1em;
}

.Playlists-message {
    font-size: 2em;
    text-shadow: 1px 1px 5px #000;
}