.Playlist {
    margin: 0;
}

.Playlist-play {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Playlist-play:hover::after {
    content: ' ';
    position: absolute;
    z-index: 1;
    background: #000;
    height: 101%;
    width: 101%;
    opacity: .8;
    top: -.5px;
    left: -0.5px;
}

.Playlist-play:hover .Playlist-button {
    display: block;
}

.Playlist-image {
    box-shadow: 1px 1px 50px #000;
}

.Playlist-button {
    display: none;
    position: absolute;
    z-index: 2;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
  
    border-color: transparent transparent transparent #fff;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.Playlist-figcaption {
    margin-top: 10px;
}